{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
	<style>
        .account {
            width: 500px;
            height: 500px;
            border: 1px solid antiquewhite;
            border-radius: 5px;
            box-shadow: 5px 5px 5px #aaa;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }

        .account h2 {
            text-align: center;
            margin-top: 10px;
        }


	</style>

</head>
<body>
<div class="account">
	<h2>User Login</h2>
	<form method="post" novalidate>
		{% csrf_token %}

		<div class="form-group">
			<label>Username</label>
			{{ form.username }}
			<span style="color: red;">{{ form.username.errors.0 }}</span>
		</div>
		<div class="form-group">
			<label>Password</label>
			{{ form.password }}
			<span style="color: red;">{{ form.password.errors.0 }}</span>
		</div>

		<div class="form-group">
			<label for="id_code">Vertification</label>
			<div class="row">
				<div class="col-xs-7">
					{{ form.code }}
					<span style="color: red;">{{ form.code.errors.0 }}</span>
				</div>
				<div class="col-xs-5">
					<img src="/image/code/" style="width: 125px" id="img_code">
				</div>


			</div>
		</div>
		<input type="submit" value="Login" class="btn btn-primary">
		<div style="margin-top: 10px">
			<a href="/register/">Do not have account?Click here to register one!</a>
		</div>
	</form>
</div>


</body>
</html>