{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
	<style>
        .account {
            width: 500px;
            height: 500px;
            border: 1px solid antiquewhite;
            border-radius: 5px;
            box-shadow: 5px 5px 5px #aaa;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }

        .account h2 {
            text-align: center;
            margin-top: 10px;
        }


	</style>

</head>
<body>

<div class="account">
	<h2>User Register</h2>
	<div class="panel panel-default">
		<div class="panel-heading">{{ title }}</div>
		<div class="panel-body">
			<form method="post" novalidate>
				{% csrf_token %}
				{% for field in form %}
					<div class="form-group">
						<label>{{ field.label }}</label>
						{{ field }}
						<span style="color: red;">{{ field.errors.0 }}</span>
					</div>
				{% endfor %}
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
		</div>
	</div>
</div>
