{% extends 'layout.html' %}

{% block content %}
	<style>
        .particulars {
            border-radius: 10px;
            border: 3px solid powderblue;
            padding: 10px 10px 40px 10px;
            margin: 40px 20px 20px 0;
            width: 720px;
        }

        .particulars legend {
            display: block;
            width: 100%;
            padding-left: 3px;
            margin-bottom: 20px;
            font-size: 25px;
            line-height: inherit;
            color: #333;
            border-bottom: 3px solid powderblue;
        }

        .one img {
            width: 400px;
            height: 400px;
        }

        .sider {
            min-height: calc(100vh - 60px);
            background: #ffffff;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            padding: 0;
            width: 257px;


            border-right: 2px solid #e3e3e3;
            border-bottom: 2px solid #e3e3e3;
        }

        .nav-item {
            border-bottom: 2px solid #e3e3e3;
            margin-top: 50px;
        }

        .text-white {
            color: #fff !important;
        }
	</style>
	<div class="sider" style="float: left;">
		<ul class="nav">
			<li class="nav-item" style="margin-top: 1px">
				<a style="background-color:#000; " href="/main/"
				   class="list-group-item list-group-item-warning"><h3 class="text-white">Home</h3></a>
			</li>
			<li class="nav-item">
				<a style="background-color: #ff5916 !important; " href="/main1/"
				   class="list-group-item list-group-item-warning">
					<h3 class="text-white">My own recipes</h3></a>
			</li>
			<li class="nav-item">
				<a style="background-color: #44c553 !important; " href="/meun/main/add/"
				   class="list-group-item list-group-item-success"><h3 class="text-white">Create recipe</h3></a>
			</li>
			<li class="nav-item">
				<a style="background-color: #7832e2 !important; " href="/meun/main/add1/"
				   class="list-group-item list-group-item-info"><h3 class="text-white">Customize recipe</h3></a>
			</li>

		</ul>
	</div>
	<div class="container" style=" margin-top: -20px">
		<div class="row">
			<div class="col-md-9">

				{% for obj in queryset %}
					<div class="alert alert-success"><h2>{{ obj.name }} </h2>
					</div>
					<div>
						<h3>Serving size: For {{ tools }} person</h3>
						<form action="/meun/{{ obj.id }}/det/" method="POST">
							<h3>Bigger size: <input type="text" name="tools"
							                        style="width: 100px; margin-left: 30px; border: 2px solid skyblue" value=""></h3>
							{% csrf_token %}
							<a href="#"><input
									style="float: right; width: 100px; margin-top: -43px; margin-right: 300px"
									id='textUser' class="btn btn-success" role="button" type="submit"
									value="Start!"/></a>
						</form>
					</div>
					<div class="one">
						<img src="/media/{{ obj.img }}">
					</div>
					<fieldset class="particulars">
						<legend style="color: saddlebrown">The Quantity</legend>
						<h3> {% widthratio obj.quan 1 tools %} </h3>
					</fieldset>
					<fieldset class="particulars">
						<legend style="color: saddlebrown">The utensils are need</legend>
						<h3>{{ obj.utensils }}*{{ tools }}</h3>
					</fieldset>
					<fieldset class="particulars">
						<legend style="color: saddlebrown">Ingredients</legend>
						<h3>{{ obj.meat }}*{{ tools }}</h3>
						<h3>{{ obj.meat1 }}*{{ tools }}</h3>
						<h3>{{ obj.veg }}*{{ tools }}</h3>
						<h3>{{ obj.veg1 }}*{{ tools }}</h3>
						<h3>{{ obj.auxiliary }}*{{ tools }}</h3>
						<h3>{{ obj.auxiliary1 }}*{{ tools }}</h3>
						<h3>{{ obj.auxiliary2 }}*{{ tools }}</h3>
					</fieldset>
					<fieldset class="particulars">
						<legend style="color: saddlebrown">Temperature</legend>
						<div class="recipeCategory_sub_R clear" style="margin: 0; padding: 0">
							<h3>{{ obj.temperature }} ℃</h3>
						</div>
					</fieldset>
					<fieldset class="particulars">
						<legend style="color: saddlebrown">Cooking time</legend>
						<div class="recipeCategory_sub_R clear" style="margin: 0; padding: 0">
							<h3>{% widthratio obj.time 1 tools %} min</h3>
						</div>
					</fieldset>
					<fieldset class="particulars">
						<legend style="color: saddlebrown"><h3>Steps to cook this</h3></legend>
						<div class="two">
							<h3>{{ obj.steps }}</h3>
						</div>

					</fieldset>
					<fieldset class="particulars">
						<legend style="color: saddlebrown"><h3>Recommendation Rate</h3></legend>
						<div class="two">
							{% if obj.rate == 1 %}

								<h3>★✩✩✩✩</h3>
							{% elif obj.rate == 2 %}
								<h3>★★✩✩✩</h3>
							{% elif obj.rate == 3 %}
								<h3>★★★✩✩</h3>
							{% elif obj.rate == 4 %}
								<h3>★★★★✩</h3>
							{% elif obj.rate == 4 %}
								<h3>★★★★★</h3>
							{% endif %}
						</div>

					</fieldset>
					<fieldset class="particulars">
						<legend style="color: saddlebrown"><h3>Calories</h3></legend>
						<div class="two">

							<h3> {% widthratio obj.calories 1 tools %} Cal </h3>
						</div>
					</fieldset>
				{% endfor %}

			</div>
		</div>
		<a href="/main/">
			<h3>

				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="glyphicon-class"></span>

				Back
			</h3>
		</a>
	</div>
{% endblock %}

