{% extends 'layout.html' %}

{% block content %}
	{% load static %}
	<style>
        .panel-body {
            padding: 5px;
        }

        .panel-body img {
            width: 160px;
            height: 160px;
        }

        .text {
            float: right;
            padding-right: 500px;
        }
	</style>


	<div class="container">
		{% for obj in queryset %}
			<h1 style="color: #985f0d">{{ obj.get_cate_display }}</h1>

			<div class="panel panel-danger">

				<div class="panel-heading">
					<h3 class="panel-title"><h3>{{ obj.name }}</h3></h3>
				</div>
				<div class="panel-body">
					<img src="/media/{{ obj.img }}">
					<div class="text">
						<h3>Description：{{ obj.description }}</h3>
						<div class="two">
							{% if obj.rate == 1 %}
								<h3>Recommand Rate: ★✩✩✩✩</h3>
							{% elif obj.rate == 2 %}
								<h3>Recommand Rate: ★★✩✩✩</h3>
							{% elif obj.rate == 3 %}
								<h3>Recommand Rate: ★★★✩✩</h3>
							{% elif obj.rate == 4 %}
								<h3>Recommand Rate: ★★★★✩</h3>
							{% elif obj.rate == 4 %}
								<h3>Recommand Rate: ★★★★★</h3>
							{% endif %}
						</div>
					</div>

				</div>
			</div>
		{% endfor %}
		<a href="/main/">
			<h3>

				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="glyphicon-class"></span>

				Back
			</h3>
		</a>

	</div>
	{% comment %}{% endcomment %}


{% endblock %}